* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

svg {
    height: 30px;
    width: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

#linkContainer ul {
  display: flex;
  gap: 30px;
}

#linkContainer ul li {
  list-style: none;
}

#songsList {
  padding: 2% 4%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: start;
}

#songElem {
  width: 18%;
  box-shadow: 0px 0px 15px 11px #0000001c;
}

#songElem > img {
  width: 100%;
}

#songElem > #content {
  margin-top: -21px;
  padding-bottom: 20px;
}

#contentCover {
  padding: 0 15px;
}

#songElem > img {
  height: 300px;
  object-fit: cover;
}

#songInfoContent > button {
  margin-top: 15px;
  background: transparent;
  color: white;
  border: none;
  text-decoration: underline;
}

#bottomBarControls {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2% 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio {
  padding: 4px;
  width: 20%;
  border-radius: 100px;
  transition: .2s all ease-in-out;
}

#loop {
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loop > button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 500px;
  transition: .3s ease-in-out all;
}


#loop > button:hover {
  background-color: white;
  color: black;
}

#bottomLoop {
  background-color: rgb(31, 31, 31) ;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px ;
}

#bottomLoop > h3 {
  font-weight: 400;
  text-align: center;
}

#looSongName{
  font-weight: bold;
}

#bottomLoop > audio {
  border-radius: 100px;
}